.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapcontent {
    display: flex;
    flex-direction: column;
}

.wrapchats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebarchats {
    width: 300px;
    height: 450px;
    border: 2px solid black;
}

.sidebarchats input {
    background-color: #EDE9D5;
    border: none;
    border-radius: 10px;
    width: calc(100% - 10px);
    margin: 5px;
    height: 30px;
}

.result-list {
    list-style: none;
    padding: 0;
}

.chat {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 4px 10px 4px 10px;
    border-bottom: 1px solid black;
}

.chat:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
}

.chattxtinfo h4 {
    font-size: 17px;
    margin: 0;
}

.chattxtinfo p {
    font-size: 14px;
    margin: 0;
    color: rgb(0, 0, 0, 0.6)
}

.currentchat {
    width: 600px;
    height: 450px;
    border: 2px solid black;
    border-left: none;
}

.viewer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sendinput {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: flex-end;
}

.sendinput input {
    background-color: #EDE9D5;
    border: none;
    border-radius: 10px;
    width: calc(100% - 10px);
    margin: 5px;
    height: 30px;
}

.sendicon   {
    height: 30px;
    width: auto;
    margin: 0 5px 0 5px
}